@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background: #E5E5E5;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.top {
  position: relative;
  overflow: hidden;
}

center {
  padding-left: calc(50% - 570px); /*(1140)/2=570  1600/2=800*/
  padding-right: calc(50% - 570px);
}

.content {
  padding: 64px 14.375% 64px 14.375%;
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__box {
  width: 71.25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__box__left {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__box__right {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 33px;
}

.section1 {
  min-height: 764px;
  background: #F1E4E6;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section1__background {
  min-height: 764px;
  width: 50%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid rgba(201, 23, 23, 0);
  background-image: url("img/section1_background.svg");
}
.section1__text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2.43%;
}
.section1__text :hover {
  -webkit-text-decoration: underline hsl(249, 90%, 55%) solid 3px;
          text-decoration: underline hsl(249, 90%, 55%) solid 3px; /*подчеркивание текста при наведении*/
}
.section1__text__img {
  margin-left: 3.96%;
  min-height: 12px;
}
.section1__text__h {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.section1__text__h__h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.section1__text__h__h1__h2 {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
.section1__text__h__h1__h2__h3 {
  color: #F16D7F;
  margin-left: 6px;
}

.section2 {
  background: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  gap: 30px;
}
.section2__block {
  max-width: 71.25%; /*(1140*100)/1600=71.25%*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.section2__block__top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.section2__block__top :hover {
  border: 5px solid #1729c9;
}
.section2__block__top__img1 {
  min-height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img//img1.svg");
  border: 5px solid rgba(23, 41, 201, 0);
}
.section2__block__top__img2 {
  min-height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img//img2.svg");
  border: 5px solid rgba(23, 41, 201, 0);
}
.section2__block__top__img3 {
  min-height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img//img3.svg");
  border: 5px solid rgba(23, 41, 201, 0);
}
.section2__block__buttom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2__block__buttom :hover {
  border: 5px solid #1729c9;
}
.section2__block__buttom__img4 {
  min-height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img//img4.svg");
  border: 5px solid rgba(23, 41, 201, 0);
}

.section3 {
  background: #F8F8F8;
}
.section3 .top {
  padding-bottom: 65px;
}
.section3 .top__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
.section3 .top__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}
.section3 .product-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.section3 .product {
  width: 32%;
  min-height: 510px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1 1 auto;
}
.section3 .product__img {
  min-height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3 .product__img__img1 {
  min-height: 360px;
  width: 100%;
}
.section3 .product__content {
  min-height: 167px;
  width: 100%;
  background-color: #F8F8F8;
}
.section3 .product__content__padding {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section3 .product__content__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.section3 .product__content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.section3 .product__content__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.section3 .button {
  display: flex;
  justify-content: center;
}
.section3 .button__text {
  padding-top: 14.5px;
  padding-bottom: 13.5px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #FF6A6A;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-align: center;
}
.section3 .button__text:hover {
  -webkit-text-decoration: underline hsl(249, 90%, 55%) solid 3px;
          text-decoration: underline hsl(249, 90%, 55%) solid 3px; /*подчеркивание текста при наведении*/
}

.advantages {
  background-color: #222222;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1 1 auto;
}
.advantages__item {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F8F8F8;
}
.advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F8F8F8;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px); /*(768 -16)/2=376*/
    padding-right: calc(50% - 376px);
  }
  .content {
    padding: 64px 4.1% 64px 4.1%;
  }
  .header {
    min-height: 74px;
  }
  .header__box {
    width: 95.83%;
  }
  .section1 {
    min-height: 367.57px;
  }
  .section1__background {
    min-height: 368px;
    width: 50.15%;
    background-size: cover;
    background-position: center;
  }
  .section1__text {
    width: 49.84%;
  }
  .section1__text__h__h1 {
    margin-left: 5.07%;
    font-size: 44px;
    line-height: 53px;
  }
  .section2__block {
    max-width: 95.64%; /*(1140*100)/1600=71.25%*/
    gap: 30px;
  }
  .section2__block__top__img1, .section2__block__top__img2, .section2__block__top__img3 {
    min-height: 160px;
  }
  .section2__block__buttom {
    min-height: 116px;
  }
  .section2__block__buttom__img4 {
    min-height: 116px;
  }
  .section3 .product {
    width: 47.8%;
    min-height: 510px;
  }
  .section3 .product__img {
    min-height: 420px;
  }
  .advantages {
    min-height: 610px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-grow: 1 1 auto;
  }
  .advantages__item {
    width: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 179.5px); /*(735 -16)/2=179.5*/
    padding-right: calc(50% - 179.5px);
  }
  .content {
    padding: 64px 8.5% 64px 8.5%;
  }
  .header {
    min-height: 74px;
  }
  .header__box {
    width: 65.86%;
  }
  .header__box__left {
    justify-content: left;
    gap: 10px;
  }
  .header__box__right {
    justify-content: right;
    gap: 15px;
  }
  .header__box .logo4, .header__box .logo5 {
    display: none;
  }
  .section1 {
    min-height: 363px;
  }
  .section1__background {
    display: none;
  }
  .section1__text {
    justify-content: center;
  }
  .section2__block {
    max-width: 91.46%; /*(1140*100)/1600=71.25%*/
  }
  .section2__block__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section2__block__top__img1, .section2__block__top__img2, .section2__block__top__img3 {
    min-height: 247px;
    min-width: 100%;
  }
  .section2__block__buttom__img4 {
    min-height: 111px;
    min-width: 100%;
  }
  .section3 .product {
    width: 100%;
  }
  .section3 .product__img {
    width: 100%;
  }
  .advantages__item {
    width: 92.53%;
  }
}/*# sourceMappingURL=style.css.map */